<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ECharts Getting Started Example</title>
    <!-- ECharts 라이브러리 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
<!-- 차트를 렌더링할 요소 -->
<div id="main" style="width: 600px; height: 400px;"></div>
<div id="pieChart" style="width: 600px; height: 400px;"></div>

<!-- ECharts 초기화 및 설정 -->
<script th:inline="javascript">

    let difficulties = /*[[${schedules}]]*/ [];

    let difficultiesValues = [];
    difficulties.forEach(schedule => {
        // schedule은 difficulties 배열의 현재 요소를 의미합니다
        difficultiesValues.push(schedule.stress);
    });

    console.log("difficulty:" ,difficultiesValues);

    console.log("Selected IDs:", difficulties);

    document.addEventListener('DOMContentLoaded', function () {
        // ECharts 인스턴스 생성
        const myChart = echarts.init(document.getElementById('main'));

        // 차트 옵션 설정
        myChart.setOption({
            title: {
                text: 'ECharts Getting Started Example'
            },
            tooltip: {},
            xAxis: {
                data: difficultiesValues.map((_, index) => 'Task ' + (index + 1)) // X축에 태스크 라벨
            },
            yAxis: {},
            series: [
                {
                    name: 'Difficulty',
                    type: 'bar',
                    data: difficultiesValues // difficulties 배열의 값을 차트 데이터로 사용
                }
            ]
        });

        const pieChart = echarts.init(document.getElementById('pieChart'));

        pieChart.setOption({
            title: {
                text: 'Sales Distribution'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left'
            },
            series: [
                {
                    name: 'sales',
                    type: 'pie',
                    radius: '50%',
                    data: [
                        {value: 5, name: 'shirt'},
                        {value: 20, name: 'cardigan'},
                        {value: 36, name: 'chiffon'},
                        {value: 10, name: 'pants'},
                        {value: 10, name: 'heels'},
                        {value: 20, name: 'socks'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });
    });
</script>
</body>
</html>
