<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Plan Optima</title>
    <link rel="stylesheet" th:href="@{/css/cabinet.css}">
</head>
<body>
<header>
    <div class="site-name"><a href="/"> Plan Optima </a></div>
    <nav>
        <ul>
            <li><a href="/cabinet">Cabinet</a></li>
            <li><a href="/create">Create Schedule</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Check</a></li>
            <li><a href="/loginHome">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Welcome to Plan Optima</h1>
    <p>This is your ultimate planner.</p>
    <h2>Get Started</h2>
    <ul>
        <li><a href="/cabinet">View Your Schedules</a></li>
        <li><a href="/create">Create a New Schedule</a></li>
    </ul>
</main>
</body>
</html>
